<%= form_for @photo,  url: admin_album_photos_path,  html:{ class:"col s12 admin_form" } do |f| %>
   <%# render "admins/share/error_messages", target: @order %>

    <div class="form-group">
        <label for="E5rcADdEFdxT4EKSY" class="control-label">banner图片</label>
        <div class="fileUpload" name="image" id="E5rcADdEFdxT4EKSY" data-schema-key="image">
          <span class="btn btn-file btn-xs">
            <%= f.file_field :name,
            class: 'form-control',
            placeholder: '点击上传图片',multiple: true,id: 'image_upload' %>
          </span>
        </div>

       
      </div>

      <div class="progress" id="progress" style="display: none;">
        <div class="progress-bar"  role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
          请上传图片
        </div>
      </div>


    


     


    <div class="buttons text-right">
      <button type="submit" title="提交" class="btn btn-primary cyan create-btn" data-disable-with="请稍等...">提交</button>
    </div>
<% end %>





