<div class="zy-backdrop"></div>

<div class="zy-window">
  <div class="zy-window-wrap">
    <div class="zy-window-nav clearfix">
      <div class="zy-window-title">
        <i class="iconfont" >&#xe606;</i><span>联系客服</span>
      </div>
      <div class="zy-window-close">×</div>
    </div>

    <table cellpadding="0" cellspacing="0" border="1" >
      <tr>
        <td>商品名称</td>
        <td>2016款宝马x5</td>
      </tr>
      <tr>
        <td>下单时间</td>
        <td>2016年3月18日11:30</td>
      </tr>
      <tr>
        <td>联系人</td>
        <td>2016年3月18日11:30</td>
      </tr>
      <tr>
        <td>联系人</td>
        <td>2016年3月18日11:30</td>
      </tr>
      <tr>
        <td>联系人</td>
        <td>2016年3月18日11:30</td>
      </tr>
      <tr>
        <td>联系人</td>
        <td>2016年3月18日11:30</td>
      </tr>
      <tr>
        <td>联系人</td>
        <td>2016年3月18日11:30</td>
      </tr>
      <tr>
        <td>联系人</td>
        <td>2016年3月18日11:30</td>
      </tr>
      <tr>
        <td>联系人</td>
        <td>2016年3月18日11:30</td>
      </tr>
      <tr>
        <td>联系人</td>
        <td>2016年3月18日11:30</td>
      </tr>
      <tr>
        <td>联系人</td>
        <td>2016年3月18日11:30</td>
      </tr>
      <tr>
        <td colspan="2">
          <p>订单号:13800138000</p>
          <span>总价: <h1>￥48.7万</h1></span>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="zy-windows">
  <div class="zy-window-wrap">
    <div class="zy-window-nav clearfix line">
      <div class="zy-window-title" style="margin-top: 0;">
        <i class="iconfont" >&#xe606;</i><span>联系客服</span>
      </div>
      <div class="zy-window-close">×</div>
    </div>

    <div class="zy-window-content">
     
        <ul>
         <li>问:什么时候联系我?</li>
         <li>在提交联系方式后看心情<span class="window-show" style="display:none;">更多<i class="iconfont" >&#xe616;</i></span></li>
       </ul>
      <div class="window-question">
       <ul>
         <li>问:什么时候联系我?</li>
         <li>在提交联系方式后看心情</li>
       </ul>
       <ul>
         <li>问:什么时候联系我?</li>
         <li>在提交联系方式后看心情</li>
       </ul>
       <ul>
         <li>问:什么时候联系我?</li>
         <li>在提交联系方式后看心情 <span class="window-hide">收起 <i class="iconfont" >&#xe617;</i></span></li>
       </ul>
      </div>
      <textarea name="" id="" cols="160" rows="10"  placeholder="请介绍自己..."></textarea>
      <div>
        <button class="window-submit">提交</button>
      </div>
    </div>

    
  </div>
</div>



<div class="container">
  <div class="header">
    <ul class="header-nav">
      <li class="active">首页</li>
      <li>在线选车</li>
      <li>关于我们</li>
      <li class="active">登陆</li>
    </ul>
  </div>
  <div class="clearfix"></div>

  <nav>
    <div class="nav-title">
      个人中心
    </div>

  </nav>

  <div class="zy-body clearfix">
     <div class="zy-order-title">
       <i class="iconfont">&#xe614;</i>
       我的订单
     </div>

     <div class="order-list">
        <div class="order-title clearfix">
          <span class="order-code">订单编号: 123254389123213</span>
          <span class="order-time">
            下单时间: 20160817
          </span>
          <span class="order-total">
            ￥49.6万
          </span>
        </div>
        <div class="order-body">
         <div class="order-wrap clearfix">
          <%= image_tag "carshow.png" %>
          <div class="order-list-intro">
             <h1 class="order-params-name">2016款宝马X5 xDrive 35i中东版 3.0T 四驱 汽油版5座外黑内棕</h1>
            <span class="order-pay-way">质保/付款方式</span>
          </div>
         <div class="order-list-button">
            <button class="order-detail-btn">详情订单</button>
           <button class="order-contact-btn">联系客服</button>
         </div>
         </div>
          <hr>
            <h1 class="order-status">订单进去</h1>
            <div class="order-right clearfix ">
              <div class="order-line clearfix">
                <span class="circle1"></span>
                <span class="circle2 active"></span>
                <span class="circle3"></span>
                <span class="circle4"></span>
                <span class="circle5"></span>
                <span class="circle6"></span>
                <span class="circle7"></span>
              </div>
              
              <ul class="clearfix">
                <li>
                  <span>网上预约</span>
                  <p>2016-9-10 11:30</p>
                </li>
                <li class="active">
                  <span>网上预约</span>
                  <p>2016-9-10 11:30</p>
                </li>
                <li>
                  <span>网上预约</span>
                  <p>2016-9-10 11:30</p>
                </li>
                <li>
                  <span>网上预约</span>
                  <p>2016-9-10 11:30</p>
                </li>
                <li>
                  <span>网上预约</span>
                  <p>2016-9-10 11:30</p>
                </li>
                <li>
                  <span>网上预约</span>
                  <p>2016-9-10 11:30</p>
                </li>
                <li>
                  <span>网上预约</span>
                  <p>2016-9-10 11:30</p>
                </li>
              </ul>
            </div>

        </div>
      </div>
  </div>
</div>

<script>
  $('.order-detail-btn').click(function(){
   $('.zy-window').show();
   $('.zy-backdrop').show();
  })

  $('.order-contact-btn').click(function(){
     $('.zy-windows').show();
   $('.zy-backdrop').show();
  })
//关闭弹窗
 $(document).click(function(e){
    if(e.target.className === 'zy-backdrop'|| e.target.className === 'zy-window-close') {
      $('.zy-window').hide();
      $('.zy-windows').hide();
      $('.zy-backdrop').hide();
    }
  })

 $('.window-hide').click(function(){
  $('.window-question').hide(500);
  $('.window-show').show();
 })

 $('.window-show').click(function(){
  $('.window-question').show(500);
  $('.window-show').hide();
 })
</script>
