<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <%= @good.to_json %>
  <hr>
  <%= @good.product.to_json %>
  <hr>
  <%= @spec_options.to_json %>
</body>
</html>