<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <h1 class="title">用户
    </h1>
    <hr>
    <div class="dataTables_wrapper form-inline dt-bootstrap no-footer">
      <div class="row"></div>
      <div class="row">
        <div class="col-xs-12">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
              <tr role="row">
                <th>用户昵称</th>
                <th>手机号</th>
                <th>订单数量</th>
              </tr>
              </thead>
              <tbody>
                <%= render @users %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 pull-right text-right">
          <%= will_paginate @users %>
        </div>
      </div>
    </div>
  </div>
</div>
