<div class="zy-backdrop"></div>

<div class="zy-window" style="width: 400px;">
  <div class="zy-window-wrap" style="width: 330px;margin: 20px auto; ">
    <div class="zy-window-content" >
     <div class="zy-window-row">
        <img src="/images/meizi.png" alt="" width="30" > 
       <p class="zy-window-top">无需电话等待,只需一步提交</p>
       <p>既可预约指定品牌专业顾问与您一对一服务</p>
     </div>
      <div class="zy-window-row">
        <label for="">意向车型</label>
        <input type="text">
      </div>
      <div class="zy-window-row">
        <label for="">上牌城市</label>
        <select name="" id="">
          <option value=""></option>
        </select> 
        <select name="" id="" class="zy-window-select">
          <option value=""></option>
        </select>
      </div>
      <div class="zy-window-row">
        <label for="">姓名</label>
        <input type="text">
      </div>
      <div class="zy-window-row">
        <label for="">联系方式</label>
        <input type="text" name="" id="">
      </div>
     <div class="zy-window-row">
        <button id="zy-window-phone-button">提交</button>
     </div>
     <div class="zy-window-row">
       <p class="zy-window-right">你也可以拨打客服热线进行人工预约登记</p>
       <p class="zy-window-right">4000-000-000</p>
     </div>
     
    </div>

    
  </div>
</div>

<div class="container">
 <div class="header">
  <ul class="header-nav">
    <li class="active">首页</li>
    <li>在线选车</li>
    <li>关于我们</li>
    <li class="active">登陆</li>
  </ul>
  </div>
  <div class="clearfix"></div>

  <nav>
    <div class="nav-title">
      <img src="images/BM.png" alt="" class="nav-logo">
      <div class="nav-cate">
        宝马
        <i class="iconfont">&#xe616;</i>
        <div class="nav-brand">
          <div class="nav-brand-title">品牌</div>
          <div class="nav-brand-list">
            <div class="nav-brand-logo">
              <img src="images/Bm.png" alt="">
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <img src="images/Bm.png" alt="">
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <img src="images/Bm.png" alt="">
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <img src="images/Bm.png" alt="">
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <img src="images/Bm.png" alt="">
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <img src="images/Bm.png" alt="">
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <img src="images/Bm.png" alt="">
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <img src="images/Bm.png" alt="">
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <img src="images/Bm.png" alt="">
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <img src="images/Bm.png" alt="">
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <img src="images/Bm.png" alt="">
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <img src="images/Bm.png" alt="">
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <img src="images/Bm.png" alt="">
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <img src="images/Bm.png" alt="">
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <img src="images/Bm.png" alt="">
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <img src="images/Bm.png" alt="">
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <img src="images/Bm.png" alt="">
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <img src="images/Bm.png" alt="">
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <img src="images/Bm.png" alt="">
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <img src="images/Bm.png" alt="">
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <img src="images/Bm.png" alt="">
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <img src="images/Bm.png" alt="">
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <img src="images/Bm.png" alt="">
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <img src="images/Bm.png" alt="">
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <img src="images/Bm.png" alt="">
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <img src="images/Bm.png" alt="">
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <img src="images/Bm.png" alt="">
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <img src="images/Bm.png" alt="">
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <img src="images/Bm.png" alt="">
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <img src="images/Bm.png" alt="">
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <img src="images/Bm.png" alt="">
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <img src="images/Bm.png" alt="">
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <img src="images/Bm.png" alt="">
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <img src="images/Bm.png" alt="">
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <img src="images/Bm.png" alt="">
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <img src="images/Bm.png" alt="">
              <span>宝马</span>
            </div>
            <div class="nav-brand-logo">
              <img src="images/Bm.png" alt="">
              <span>宝马</span>
            </div>
          </div>
        </div>
      </div>
      <ul class="nav-type clearfix">
        <li class="nav-way">
          X5
           <ul>
            <li>X5</li>
            <li>X5</li>
            <li>X5</li>
            <li>X5</li>
          </ul>
        </li>
        <li class="nav-way">
          全部车型
          <ul>
            <li>X5</li>
            <li>X5</li>
            <li>X5</li>
            <li>X5</li>
          </ul>
        </li>
        <li class="nav-way">
          全部车款
           <ul>
            <li>X5</li>
            <li>X5</li>
            <li>X5</li>
            <li>X5</li>
          </ul>
        </li>
        <li class="nav-way">
          全部版本
           <ul>
            <li>X5</li>
            <li>X5</li>
            <li>X5</li>
            <li>X5</li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>

  <div class="car-config clearfix">
    <div class="car-config-left">
      <img src="images/x5.png" alt="" class="car-config-img">
       <div class="d-img-list">
          <div class="icon-left"><i class="iconfont">&#xe618;</i></div>
          <div class="d-list-wrap">
            <img src="images/car2.jpeg" alt="">
            <img src="images/car3.jpeg" alt="">
            <img src="images/car4.jpeg" alt="">
            <img src="images/car2.jpeg" alt="">
            <img src="images/car1.jpeg" alt="">
            <img src="images/car2.jpeg" alt="">
            <img src="images/car2.jpeg" alt="">
          </div>
          <div class="icon-right"><i class="iconfont">&#xe619;</i></div>
        </div>
    </div>
    <div class="car-config-right">
      <h1 class="car-config-title">2016款宝马X5 xDrive 35i中东版 3.0T 四驱 汽油版 5座外黑内棕</h1>
      <div class="car-fonfig-price">
        平行车价: <strong>￥75.4万</strong>
      </div>
      <dl class="car-config-way clearfix">
        <dt>支付方式</dt>
        <dd>全款订车</dd>
        <dd>订金尾款或贷款购车76.5万</dd>
      </dl>
      <dl class="car-config-way clearfix">
        <dt>支付方式</dt>
        <dd>全款订车</dd>
        <dd>订金尾款或贷款购车76.5万</dd>
      </dl>
      <dl class="car-config-way clearfix">
        <dt>支付方式</dt>
        <dd>全款订车</dd>
        <dd>订金尾款或贷款购车76.5万</dd>
      </dl>
      <dl class="car-config-way clearfix">
        <dt>支付方式</dt>
        <dd>全款订车</dd>
        <dd>订金尾款或贷款购车76.5万</dd>
      </dl>
      <dl class="car-config-way clearfix">
        <dt>支付方式</dt>
        <dd>全款订车</dd>
        <dd>订金尾款或贷款购车76.5万</dd>
      </dl>
      <div class="car-config-button">
        <button class="car-config-pre">0元预定</button>
        <button class="car-config-consult">电话咨询</button>
      </div>
    </div>
  </div>

  <div class="public-bg-wrap">
    <div class="zy-body">
      <h1 class="zy-title-list">亮点配置</h1>
      <ul class="zy-show-img-wrap clearfix">
        <li>
          <img src="images/carlist1.png" alt="">
          <h1>优雅的舒适的内饰环境</h1>
          <p>可以说大自然是最伟大的艺术家,所以我们理解的奢华也包括自己最杰出的作品.玛莎</p>
        </li>
        <li>
          <img src="images/carlist1.png" alt="">
          <h1>优雅的舒适的内饰环境</h1>
          <p>可以说大自然是最伟大的艺术家,所以我们理解的奢华也包括自己最杰出的作品.玛莎</p>
        </li>
        <li>
          <img src="images/carlist1.png" alt="">
          <h1>优雅的舒适的内饰环境</h1>
          <p>可以说大自然是最伟大的艺术家,所以我们理解的奢华也包括自己最杰出的作品.玛莎</p>
        </li>
        <li>
          <img src="images/carlist1.png" alt="">
          <h1>优雅的舒适的内饰环境</h1>
          <p>可以说大自然是最伟大的艺术家,所以我们理解的奢华也包括自己最杰出的作品.玛莎</p>
        </li>
      </ul>
    </div>
  </div>
  
  <div class="zy-body">  
    <h1  class="zy-title-list">基本配置</h1>
    <ul class="zy-config-params clearfix">
      <li class="active">基本参数</li>
      <li>车身</li>
      <li>发动机</li>
      <li>变速箱</li>
      <li>底盘转向</li>
      <li>车轮制动</li>
      <li>重要配置</li>
    </ul>
   <div class="zy-params-list">
      <dl>
       <dd>级别1</dd>
       <dd>中大型SUV</dd>
     </dl>
     <dl>
       <dd>级别</dd>
       <dd>中大型SUV</dd>
     </dl>
     <dl>
       <dd>级别</dd>
       <dd>中大型SUV</dd>
     </dl>
   </div>
   <div class="zy-params-list" id="current-show">
      <dl>
       <dd>级别2</dd>
       <dd>中大型SUV</dd>
     </dl>
     <dl>
       <dd>级别</dd>
       <dd>中大型SUV</dd>
     </dl>
     <dl>
       <dd>级别</dd>
       <dd>中大型SUV</dd>
     </dl>
   </div>
   <div class="zy-params-list">
      <dl>
       <dd>级别3</dd>
       <dd>中大型SUV</dd>
     </dl>
     <dl>
       <dd>级别</dd>
       <dd>中大型SUV</dd>
     </dl>
     <dl>
       <dd>级别</dd>
       <dd>中大型SUV</dd>
     </dl>
   </div>
   <div class="zy-params-list">
      <dl>
       <dd>级别4</dd>
       <dd>中大型SUV</dd>
     </dl>
     <dl>
       <dd>级别</dd>
       <dd>中大型SUV</dd>
     </dl>
     <dl>
       <dd>级别</dd>
       <dd>中大型SUV</dd>
     </dl>
   </div>
   <div class="zy-params-list">
      <dl>
       <dd>级别5</dd>
       <dd>中大型SUV</dd>
     </dl>
     <dl>
       <dd>级别</dd>
       <dd>中大型SUV</dd>
     </dl>
     <dl>
       <dd>级别</dd>
       <dd>中大型SUV</dd>
     </dl>
   </div>
   <div class="zy-params-list">
      <dl>
       <dd>级别6</dd>
       <dd>中大型SUV</dd>
     </dl>
     <dl>
       <dd>级别</dd>
       <dd>中大型SUV</dd>
     </dl>
     <dl>
       <dd>级别</dd>
       <dd>中大型SUV</dd>
     </dl>
   </div>
   <div class="zy-params-list">
      <dl>
       <dd>级别7</dd>
       <dd>中大型SUV</dd>
     </dl>
     <dl>
       <dd>级别</dd>
       <dd>中大型SUV</dd>
     </dl>
     <dl>
       <dd>级别</dd>
       <dd>中大型SUV</dd>
     </dl>
   </div>
  </div>

  <footer>
      <div class="public-bg-wrap">
        <div class="zy-body clearfix">
          <h1  class="zy-title-list">更多配置</h1>
          <ul class="clearfix">
            <li>全部天窗</li>
            <li>全部天窗</li>
            <li>全部天窗</li>
            <li>全部天窗</li>
            <li>全部天窗</li>
            <li>全部天窗</li>
            <li>全部天窗</li>
            <li>全部天窗</li>
            <li>全部天窗</li>
            <li>全部天窗</li>
            <li>全部天窗</li>
            <li>全部天窗</li>
          </ul>
        </div>
      </div>
  </footer>
</div>

<script>
  $('.zy-config-params li').click(function(){
      var index = $(this).index();
      $('.zy-config-params li').removeClass('active');
      $(this).addClass('active');
      $('.zy-params-list').attr('id','');
      $('.zy-params-list').eq(index).attr('id','current-show');
  })

 //关闭弹窗
 $('.car-config-consult').click(function(){
    $('.zy-backdrop').show();
    $('.zy-window').show();
    
 })
 $(document).click(function(e){
    if(e.target.className === 'zy-backdrop'|| e.target.className === 'zy-window-close') {
      $('.zy-window').hide();
      $('.zy-backdrop').hide();
    }
  })

 $('.window-hide').click(function(){
  $('.window-question').hide(500);
  $('.window-show').show();
 })

 $('.window-show').click(function(){
  $('.window-question').show(500);
  $('.window-show').hide();
 })
 //图片移动
$('.icon-right').click(function(){
  var list = $('.d-list-wrap');
  var left = list.position().left;
  var moveleft = left - 100;
  if (left == -100) {
    return false;
  }
  list.css('left',moveleft+'px');
})
$('.icon-left').click(function(){
  var list = $('.d-list-wrap');
  var left = list.position().left;
  var moveleft = left + 100;
  if ( left == 0) {
    return false
  }else{
    list.css('left',moveleft+'px');
  }
})

//图片预览
$('.d-img-list img').mouseover(function(){
  var url = $(this).attr('src');
  $('.car-config-img').attr('src',url);
})
 
</script>