<!DOCTYPE html>
<html>
<head>
  <%= render "layouts/head" %>
</head>
<body>
  <div class="orion-bootstrap-admin">
    <%= render "layouts/sidebar" %>

    <%= render "layouts/content" %>
  </div>
</body>
</html>
