<!DOCTYPE html>
<html>
<head>
<title>QuickCut</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<%= stylesheet_link_tag    'frontend', media: 'all' %>
<%= javascript_include_tag 'application' %>
</head>
<body id="content">
  
  <%= yield %>

</body>
</html>
